@model ExploreCalifornia.Models.Post
@{  
    Layout = "_Layout";
}

<h1>Create Blog Post</h1>

<fieldset>

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()

        <p>
            @Html.LabelFor(x => x.Title)
            @Html.EditorFor(x => x.Title)
            @Html.ValidationMessageFor(x => x.Title)
        </p>

        <p>
            @Html.LabelFor(x => x.Body)
            @Html.EditorFor(x => x.Body)
            @Html.ValidationMessageFor(x => x.Body)
        </p>

        <p>
            <button type="submit">Create Post</button>
        </p>

    }

</fieldset>